<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>控制后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../component/pear/css/pear.css"/>
    <link rel="stylesheet" href="../../admin/css/other/console1.css"/>
</head>
<body class="pear-container">
<div>
    <div class="layui-row layui-col-space10">
        <form class="layui-form" action="">
            <div class="layui-inline">
            </div>
            <div class="layui-form-item">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">日期范围</label>
                    <div class="layui-inline" id="ID-laydate-range">
                        <div class="layui-input-inline">
                            <input name="startDate" type="text" lay-verify="required" autocomplete="off"
                                   id="ID-laydate-start-date"
                                   class="layui-input"
                                   placeholder="开始日期">
                            <span class="layui-font-red"></span>
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline">
                            <input name="endDate" type="text" lay-verify="required" autocomplete="off"
                                   id="ID-laydate-end-date"
                                   class="layui-input"
                                   placeholder="结束日期">
                            <span class="layui-font-red"></span>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">送货公司</label>
                    <div class="layui-input-block">
                        <select name="companyId" id="companyId" lay-search>
                            <option value="">直接选择或搜索选择</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="layui-row layui-col-space10">
        <div class="layui-col-xs6 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-header">单价最高产品</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs6 layui-col-md6 top-panel-number" style="color: #28333E;"
                             id="maxPriceProduct">
                            0
                        </div>
                        <div class="layui-col-xs6 layui-col-md6 top-panel-tips" id="maxPriceProductName">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-header">销量最高产品</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs6 layui-col-md6 top-panel-number" style="color: #28333E;"
                             id="maxWeightProduct">
                            0
                        </div>
                        <div class="layui-col-xs6 layui-col-md6 top-panel-tips" id="maxWeightProductName">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-header">销售额最高产品</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs6 layui-col-md6 top-panel-number" style="color: #28333E;"
                             id="maxAmountProduct">
                            0
                        </div>
                        <div class="layui-col-xs6 layui-col-md6  top-panel-tips"
                             id="maxAmountProductName">>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-header">销售额最高公司</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs6 layui-col-md6 top-panel-number" style="color: #28333E;"
                             id="maxAmountCompany">
                            0
                        </div>
                        <div class="layui-col-xs6 layui-col-md6 top-panel-tips"
                             id="maxAmountCompanyName">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">产品单价TOP10</div>
                <div class="layui-card-body">
                    <div class="layui-tab custom-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <div id="maxPriceProductEcharts"
                             style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">产品销量TOP10</div>
                <div class="layui-card-body">
                    <div class="layui-tab custom-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <div id="maxWeightProductEcharts"
                             style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">产品销售额TOP10</div>
                <div class="layui-card-body">
                    <div class="layui-tab custom-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <div id="maxAmountProductEcharts"
                             style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">公司销售额TOP10</div>
                <div class="layui-card-body">
                    <div class="layui-tab custom-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <div id="maxAmountCompanyEcharts"
                             style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->
<script src="../../component/layui/layui.js"></script>
<script src="../../component/pear/pear.js"></script>
<script>
    //获取当前日期函数
    function getNowFormatDate() {
        let date = new Date(),
            year = date.getFullYear(), //获取完整的年份(4位)
            month = date.getMonth() + 1, //获取当前月份(0-11,0代表1月)
            strDate = date.getDate() // 获取当前日(1-31)
        if (month < 10) month = `0${month}` // 如果月份是个位数，在前面补0
        if (strDate < 10) strDate = `0${strDate}` // 如果日是个位数，在前面补0

        return `${year}-${month}-${strDate}`
    }

    function getNowFormatBeginOfMonthDate() {
        let date = new Date(),
            year = date.getFullYear(), //获取完整的年份(4位)
            month = date.getMonth() + 1, //获取当前月份(0-11,0代表1月)
            strDate = 1 // 获取当前日(1-31)
        if (month < 10) month = `0${month}` // 如果月份是个位数，在前面补0
        if (strDate < 10) strDate = `0${strDate}` // 如果日是个位数，在前面补0

        return `${year}-${month}-${strDate}`
    }

    layui.use(['layer', 'echarts', 'element', 'count'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            element = layui.element,
            count = layui.count,
            util = layui.util,
            laydate = layui.laydate,
            echarts = layui.echarts;
        let form = layui.form;

        var maxPriceProductEcharts = echarts.init(document.getElementById('maxPriceProductEcharts'), null, {
            renderer: 'canvas',
            useDirtyRect: false
        });

        var maxWeightProductEcharts = echarts.init(document.getElementById('maxWeightProductEcharts'), null, {
            renderer: 'canvas',
            useDirtyRect: false
        });

        var maxAmountProductEcharts = echarts.init(document.getElementById('maxAmountProductEcharts'), null, {
            renderer: 'canvas',
            useDirtyRect: false
        });

        var maxAmountCompanyEcharts = echarts.init(document.getElementById('maxAmountCompanyEcharts'), null, {
            renderer: 'canvas',
            useDirtyRect: false
        });

        $.ajax({
            url: '/company/list',
            dataType: 'json', //服务器返回json格式数据
            type: 'get', //HTTP请求类型
            async: false,
            success: function (result) {
                $.each(result.bean, function (index, value) {
                    $('#companyId').append(new Option(value.name, value.id));// 下拉菜单里添加元素
                });
                form.render("select");
            }
        });

        reloadData('', getNowFormatBeginOfMonthDate(), getNowFormatDate());

        laydate.render({
            elem: '#ID-laydate-range',
            value: [getNowFormatBeginOfMonthDate(), getNowFormatDate()],
            isInitValue: true,
            range: ['#ID-laydate-start-date', '#ID-laydate-end-date']
        });

        form.on('submit(user-query)', function (data) {
            reloadData(data.field.companyId, data.field.startDate, data.field.endDate);
            return false;
        });

        form.verify({
            required: function (value, item) {
                var othis = $(item);
                if (!value) {
                    othis.next("span").html(othis.attr('lay-msg') || '必填项不能为空'); // 在表单旁边给出提示语
                    return true; // 返回 true 阻止 form 组件内部默认的提示方式
                }
                othis.next().empty();
            },
        });

        function reloadData(companyId, startDate, endDate) {
            $.ajax({
                url: '/statistical/maxCount?type=1&companyId=' + companyId + '&startDate=' + startDate + '&endDate=' + endDate,
                dataType: 'json', //服务器返回json格式数据
                type: 'get', //HTTP请求类型
                async: false,
                success: function (result) {
                    $("#maxPriceProduct").text("0");
                    count.up("maxPriceProduct", {
                        time: 4000,
                        num: result.bean[0].maxValue,
                        bit: 2,
                        regulator: 50
                    })
                    $('#maxPriceProductName').text(result.bean[0].label)
                    let maxPriceProductTitle = [];
                    let maxPriceProductValue = [];
                    for (const beanElement of result.bean) {
                        maxPriceProductTitle.push(beanElement.label)
                        maxPriceProductValue.push(beanElement.maxValue)
                    }
                    var option = {
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: maxPriceProductTitle,
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: '价格',
                                type: 'bar',
                                barWidth: '60%',
                                data: maxPriceProductValue
                            },
                            {
                                name: 'Life Cost',
                                type: 'bar',
                                stack: 'Total',
                                label: {
                                    show: true,
                                    position: 'inside'
                                },
                                data: maxPriceProductValue
                            }
                        ]
                    };
                    maxPriceProductEcharts.setOption(option);
                    maxPriceProductEcharts.resize();
                }
            });

            $.ajax({
                url: '/statistical/maxCount?type=2&companyId=' + companyId + '&startDate=' + startDate + '&endDate=' + endDate,
                dataType: 'json', //服务器返回json格式数据
                type: 'get', //HTTP请求类型
                async: false,
                success: function (result) {
                    $("#maxWeightProduct").text("0");
                    count.up("maxWeightProduct", {
                        time: 4000,
                        num: result.bean[0].maxValue,
                        bit: 2,
                        regulator: 50
                    })
                    $('#maxWeightProductName').text(result.bean[0].label)
                    let maxWeightProductTitle = [];
                    let maxWeightProductValue = [];
                    for (const beanElement of result.bean) {
                        maxWeightProductTitle.push(beanElement.label)
                        maxWeightProductValue.push(beanElement.maxValue)
                    }
                    var option = {
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: maxWeightProductTitle,
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: '销量',
                                type: 'bar',
                                barWidth: '60%',
                                data: maxWeightProductValue
                            },
                            {
                                name: 'Life Cost',
                                type: 'bar',
                                stack: 'Total',
                                label: {
                                    show: true,
                                    position: 'inside'
                                },
                                data: maxWeightProductValue
                            }
                        ]
                    };
                    maxWeightProductEcharts.setOption(option);
                    maxWeightProductEcharts.resize();
                }
            });

            $.ajax({
                url: '/statistical/maxCount?type=3&companyId=' + companyId + '&startDate=' + startDate + '&endDate=' + endDate,
                dataType: 'json', //服务器返回json格式数据
                type: 'get', //HTTP请求类型
                async: false,
                success: function (result) {
                    $("#maxAmountProduct").text("0");
                    count.up("maxAmountProduct", {
                        time: 4000,
                        num: result.bean[0].maxValue,
                        bit: 2,
                        regulator: 50
                    })
                    $('#maxAmountProductName').text(result.bean[0].label)
                    let maxAmountProductTitle = [];
                    let maxAmountProductValue = [];
                    for (const beanElement of result.bean) {
                        maxAmountProductTitle.push(beanElement.label)
                        maxAmountProductValue.push(beanElement.maxValue)
                    }
                    var option = {
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: maxAmountProductTitle,
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: '销售额',
                                type: 'bar',
                                barWidth: '60%',
                                data: maxAmountProductValue
                            },
                            {
                                name: 'Life Cost',
                                type: 'bar',
                                stack: 'Total',
                                label: {
                                    show: true,
                                    position: 'inside'
                                },
                                data: maxAmountProductValue
                            }
                        ]
                    };
                    maxAmountProductEcharts.setOption(option);
                    maxAmountProductEcharts.resize();
                }
            });

            $.ajax({
                url: '/statistical/maxCount?type=4&companyId=' + companyId + '&&startDate=' + startDate + '&endDate=' + endDate,
                dataType: 'json', //服务器返回json格式数据
                type: 'get', //HTTP请求类型
                async: false,
                success: function (result) {
                    $("#maxAmountCompany").text("0");
                    count.up("maxAmountCompany", {
                        time: 4000,
                        num: result.bean[0].maxValue,
                        bit: 2,
                        regulator: 50
                    })
                    $('#maxAmountCompanyName').text(result.bean[0].label)
                    let maxAmountCompanyTitle = [];
                    let maxAmountCompanyValue = [];
                    for (const beanElement of result.bean) {
                        maxAmountCompanyTitle.push(beanElement.label)
                        maxAmountCompanyValue.push(beanElement.maxValue)
                    }
                    var option = {
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: maxAmountCompanyTitle,
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: '销售额',
                                type: 'bar',
                                barWidth: '60%',
                                data: maxAmountCompanyValue
                            },
                            {
                                name: 'Life Cost',
                                type: 'bar',
                                stack: 'Total',
                                label: {
                                    show: true,
                                    position: 'inside'
                                },
                                data: maxAmountCompanyValue
                            }
                        ]
                    };
                    maxAmountCompanyEcharts.setOption(option);
                    maxAmountCompanyEcharts.resize();
                }
            });
        }

    });
</script>
</body>
</html>
